# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
ENV/
env/
.venv/

# Environment Variables
.env

# Credentials and Tokens
credentials/credentials.json
credentials/token.pickle

# Logs
logs/

# Source Logs (if any)
src/*.log

# IDEs
.vscode/
.idea/

# Others
*.DS_Store
